@model lua.Models.ViewModels.ListadoCompletoViewModel

@{
    ViewBag.Title = "Mis Cursos";
}
<div class="page-header">
    <h1>Mis Cursos</h1>
</div>
    
@if (ViewBag.resultado != null)
{
    <div class="alert alert-success alert-@(ViewBag.resultado[0].ToString() == "fail"?"danger":"success")">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.resultado[1].ToString()
    </div>
}

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h1>Categorías</h1>
        </div>
        <div class="panel-body">
            <div class="col-md-12 text-center">
                <a href="@Url.Action("Nuevo", "Categorias")" class="btn btn-success"><i class="fa fa-file" aria-hidden="true"></i> <span>Nueva</span></a>
            </div>

                <div class="col-md-12">
                    <table class="table table-striped table-bordered text-center">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(x => x.categorias.First().Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.categorias.First().Activo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var categoria in Model.categorias)
                                {
                                    <tr>
                                        <td>@(categoria.Nombre)</td>
                                        <td>@(categoria.Activo ? "Si" : "No")</td>
                                        <td>
                                            <a href="@Url.Action("Editar", "Categorias", new {id = categoria.Id })" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> <span>Editar</span></a>
                                            <a href="@Url.Action("Eliminar", "Categorias", new {id = categoria.Id })" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> <span>Eliminar</span></a>
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h1>Cursos</h1>
        </div>
        <div class="panel-body">
            <div class="col-md-12 text-center">
                <a href="@Url.Action("Nuevo", "Cursos")" class="btn btn-success"><i class="fa fa-file" aria-hidden="true"></i> <span>Nuevo</span></a>
            </div>
            <div class="col-md-12">
                    <table class="table table-striped table-bordered text-center">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(x => x.cursos.First().Portada)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.cursos.First().Titulo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.cursos.First().FechaCreacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.cursos.First().CategoriaNombre)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(x => x.cursos.First().Activo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var curso in Model.cursos)
                                {
                                    <tr>
                                        <td>
                                            @if (curso.Portada != null)
                                            {
                                                <img src="@(curso.Portada)" class="imagenCurso"/>
                                            }
                                        </td>
                                        <td>@(curso.Titulo != null ? curso.Titulo : "")</td>
                                        <td>@(curso.FechaCreacion != null ? curso.FechaCreacion.ToShortDateString() : "")</td>
                                        <td>@(curso.CategoriaNombre != null ? curso.CategoriaNombre : "")</td>
                                        <td>@(curso.Activo ? "Si" : "No")</td>
                                        <td>
                                            <a href="@Url.Action("Editar", "Cursos", new {id = curso.Id })" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> <span>Editar</span></a>
                                            <a href="@Url.Action("Eliminar", "Cursos", new {id = curso.Id })" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> <span>Eliminar</span></a>
                                        </td>
                                    </tr>
                                }
                       </tbody>
                    </table>
             </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h1>Secciones</h1>
        </div>
        <div class="panel-body">
            <div class="col-md-12 text-center">
                <a href="@Url.Action("Nuevo", "Secciones")" class="btn btn-success"><i class="fa fa-file" aria-hidden="true"></i> <span>Nuevo</span></a>
            </div>
            <div class="col-md-12">
                <table class="table table-striped table-bordered text-center">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(x => x.secciones.First().Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.secciones.First().CursoTitulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.secciones.First().Posicion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.secciones.First().Activo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var seccion in Model.secciones)
                            {
                                <tr>
                                    <td>@(seccion.Titulo != null ? seccion.Titulo : "")</td>
                                    <td>@(seccion.CursoTitulo != null ? seccion.CursoTitulo : "")</td>
                                    <td>@(seccion.Posicion.ToString())</td>
                                    <td>@(seccion.Activo ? "Si" : "No")</td>
                                    <td>
                                        <a href="@Url.Action("Editar", "Secciones", new {id = seccion.Id })" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> <span>Editar</span></a>
                                        <a href="@Url.Action("Eliminar", "Secciones", new {id = seccion.Id })" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> <span>Eliminar</span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h1>Capítulos</h1>
        </div>
        <div class="panel-body">
            <div class="col-md-12 text-center">
                <a href="@Url.Action("Nuevo", "Capitulos")" class="btn btn-success"><i class="fa fa-file" aria-hidden="true"></i> <span>Nuevo</span></a>
            </div>
            <div class="col-md-12">
                <table class="table table-striped table-bordered text-center">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(x => x.capitulos.First().Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.capitulos.First().SeccionTitulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.capitulos.First().Posicion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.capitulos.First().Activo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var capitulo in Model.capitulos)
                            {
                                <tr>
                                    <td>@(capitulo.Titulo != null ? capitulo.Titulo : "")</td>
                                    <td>@(capitulo.SeccionTitulo != null ? capitulo.SeccionTitulo : "")</td>
                                    <td>@(capitulo.Posicion.ToString())</td>
                                    <td>@(capitulo.Activo ? "Si" : "No")</td>
                                    <td>
                                        <a href="@Url.Action("Editar", "Capitulos", new {id = capitulo.Id })" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> <span>Editar</span></a>
                                        <a href="@Url.Action("Eliminar", "Capitulos", new {id = capitulo.Id })" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> <span>Eliminar</span></a>
                                    </td>
                                 </tr>
                            }
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
@section Scripts {

   <script type="text/javascript">

       $(document).ready(function () {
           $("table").DataTable();
       });
    </script>
}




