@model lua.Models.ViewModels.SeccionFormViewModel

@{
    ViewBag.Title = "Editar sección";
}

<h2>Editar sección</h2>


@if (ViewBag.resultado != null)
{
    <div class="alert alert-success alert-@(ViewBag.resultado[0].ToString() == "fail"?"danger":"success")">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.resultado[1].ToString()
    </div>
}
@using (Html.BeginForm("Editar", "Secciones", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Seccion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.seccion.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.seccion.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.seccion.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.seccion.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.seccion.CursoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.seccion.CursoId, Model.cursos.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Titulo }), "Seleccionar curso", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.seccion.CursoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.seccion.Posicion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.seccion.Posicion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.seccion.Posicion, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index", "Cursos")" class="btn btn-success"><i class="fa fa-chevron-left" aria-hidden="true"></i> <span>Volver a Mis Cursos</span></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
